{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      {# Mise en place carousel des projets et experience les plus significative avec bdd #}

      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveaspectratio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Geoffrey Gallot</h1>
            <p>developpeur Web et Web mobile</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#">Télécharger Mon CV</a>
            </p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveaspectratio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption">
            {# affichage carousel projet perso en cours #}
            <h1>{{lastProjetPersoEntete.0.entitled}}</h1>
            <p>{{lastProjetPersoEntete.0.description}}</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#">En savoir plus</a>
            </p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveaspectratio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>{{lastProjetProEntete.0.entitled}}</h1>
            <p>{{lastProjetProEntete.0.description}}</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#">En savoir plus</a>
            </p>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <div class="row mb-5">
      <h3 class="text-center">
        A Propos
      </h3>
      <p class="container">
        {% for para in aboutMe %}
          {{para.aboutMe}}<br><br>
        {% endfor %}
      </p>
    </div>

    <!-- Three columns of text below the carousel -->
    {# Arborescense formation developpeur web #}
    <div class="row">
      <section class="col-md-6 cvForm">
        {% for formation in formations %}
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false">
              <title>Placeholder</title><rect width="100%" height="100%" fill="#777"/>
              <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
            </svg>
            <h4>
              {{formation.entitled}}
            </h4>
            <p>{{formation.startDate | date('d-m-y')}}
              /
              {{formation.endDate | date('d-m-y')}}</p>
          </div>
        {% endfor %}
      </section>

      <section class="col-md-6 cvExp">
        {% for exp in experiences %}
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false">
              <title>Placeholder</title><rect width="100%" height="100%" fill="#777"/>
              <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
            </svg>
            
            <h4>{{exp.entitled}}</h4>
            <p>{{exp.startDate | date('d-m-y')}}
              /
              {{exp.endDate | date('d-m-y')}}</p>
          </div>
        {% endfor %}

      </section>
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->
    {# les projets realisés il faut reduire la taille et les afficher avec une base de données pas plus de dix et deux par ligne #}
    <hr class="featurette-divider">

    <div class="row">
      <h3 class="text-center mb-5">Portfolio</h3>
    </div>
    {# pagination en js pour eviter le rechagement de la page complete #}
    <section class="row">
      <div class="row">

        {# projet Professionnel #}
        <section class="row linePortFolio mb-5">
          <div class="com-md-1"></div>
          {% for projet in lastProjetPro %}
            <div class="col-md-2 portFolio">
              <a href="#" class="text-center text-dark">
                <img src="https://picsum.photos/150" alt="">
                <h5>
                  {{projet.entitled}}
                </h5>
              </a>
            </div>
          {% endfor %}
          <div class="com-md-1"></div>
        </section>

        {# projet Personnel #}
        <section class="row linePortFolio mt-5">
          <div class="com-md-1"></div>
          {% for projet in lastProjetPerso %}
            <div class="col-md-2 portFolio">
              <a href="#" class="text-center text-dark">
                <img src="https://picsum.photos/150" alt="">
                <h5 >
                  {{projet.entitled}}
                </h5>
              </a>
            </div>
          {% endfor %}
          <div class="com-md-1"></div>
        </section>
      </div>
    </section>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    {# puis un formulaire de contact pour m envoyer uun mail #}

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h5 class="text-center">Me contacter</h5>
        {{ form_start(form) }}
        <div class="row">
          <div class="col">
            {{ form_row(form.firstname) }}
          </div>
          <div class="col">
            {{ form_row(form.lastname) }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ form_row(form.society) }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ form_row(form.email) }}
          </div>
          <div class="col">
          {{ form_row(form.phone) }}  
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            {{ form_row(form.motif) }}
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            {{ form_row(form.submit) }}
          </div>

        </div>
        {{ form_end(form) }}
      </div>
      <div class="col-md-3"></div>
    </div>

    <hr class="featurette-divider">
  </div>
  <!-- /.container -->

{% endblock %}
