{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      {# Mise en place carousel des projets et experience les plus significative avec bdd #}

      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveaspectratio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Geoffrey Gallot</h1>
            <p>developpeur Web et Web mobile</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#">Télécharger Mon CV</a>
            </p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveaspectratio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Mon projets IOT</h1>
            <p>Arrosage Automatique géré par arduino et administré par une interface web.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#">En savoir plus</a>
            </p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveaspectratio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>{{lastExp.0.entitled}}</h1>
            <p>{{lastExp.0.description}}</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#">En savoir plus</a>
            </p>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <div class="row mb-5">
      <h3 class="text-center">
        A Propos
      </h3>
      <p class="container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iste illo, eaque quasi, voluptate pariatur molestias deserunt ad laboriosam voluptatum maxime veritatis iure quaerat ullam magnam inventore dolore totam aspernatur!
        <br>
        <br>
        Animi distinctio beatae architecto sequi. Minima beatae suscipit facere expedita, veniam repellendus. Earum tempore, quisquam quidem, corporis aliquid, provident nihil asperiores reprehenderit minima quam eaque rem sapiente nemo quia eligendi? Ut cumque nam similique est tempora officiis, animi porro iure, atque fugiat enim pariatur natus! Fugit obcaecati et magnam, nobis quos tempora impedit culpa molestiae labore temporibus architecto aliquam repellat.
        <br>
        <br>
        Adipisci harum odio minus sit officiis enim sequi. Deleniti debitis molestias labore nihil, incidunt rerum exercitationem velit dignissimos optio explicabo sint impedit libero quas numquam, delectus eum modi dolorum. Fugiat! Ea enim quos architecto ab, maxime commodi harum sapiente soluta at, sed pariatur expedita id nihil in rem debitis? Expedita tenetur sit ratione quam aspernatur rem dolorem voluptatem aliquid harum!
        <br><br>
        Dignissimos excepturi perferendis ullam facilis deserunt quas? Magnam aut ea magni ipsum vel beatae unde. A pariatur quasi nulla unde dolor laborum fuga eum nobis exercitationem cupiditate eos, odio ducimus! Quasi minus sed quos dicta obcaecati, voluptatem quidem enim, quam quas minima placeat quis ducimus non odit maiores, atque debitis. Quidem delectus, dolorem sed unde nemo animi ab illo eaque.
      </p>
    </div>

    <!-- Three columns of text below the carousel -->
    {# Arborescense formation developpeur web #}
    <div class="row">
      <section class="col-md-6 cvForm">
        {% for formation in formations %}
          <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#777"/>
            <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
          </svg>
          <h4> {{formation.entitled}} </h4>
          <p>{{formation.startDate | date('d-m-y')}} / 
          {{formation.endDate | date('d-m-y')}}</p>
        </div>
        {% endfor %}
      </section>

      <section class="col-md-6 cvExp">
        {% for exp in experiences %}
          <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#777"/>
            <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
          </svg>
          <h4>{{exp.entitled}}</h4>
          <p>{{exp.startDate | date('d-m-y')}} / 
          {{exp.endDate | date('d-m-y')}}</p>
        </div>
        {% endfor %}
        
        {# <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#777"/>
            <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
          </svg>
          <h4>Experience professionnel</h4>
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#777"/>
            <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
          </svg>
          <h4>Experience professionnel</h4>
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#777"/>
            <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
          </svg>
          <h4>Experience professionnel</h4>
        </div> #}
      </section>
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->
    {# les projets realisés il faut reduire la taille et les afficher avec une base de données pas plus de dix et deux par ligne #}
    <hr class="featurette-divider">

    <div class="row">
      <h3 class="text-center mb-5">Portfolio</h3>
    </div>
    {# pagination en js pour eviter le rechagement de la page complete #}
    <section class="row">
      <div class="row">
        <section class="row linePortFolio mb-5">
          <div class="com-md-1"></div>
          <div class="col-md-2 portFolio">Projet</div>
          <div class="col-md-2 portFolio">Projet</div>
          <div class="col-md-2 portFolio">Projet</div>
          <div class="col-md-2 portFolio">Projet</div>
          <div class="col-md-2 portFolio">Projet</div>
          <div class="com-md-1"></div>
        </section>

        <section class="row linePortFolio mt-5">
          <div class="com-md-1"></div>
          <div class="col-md-2 portFolio">Projet</div>
          <div class="col-md-2 portFolio">Projet</div>
          <div class="col-md-2 portFolio">Projet</div>
          <div class="col-md-2 portFolio">Projet</div>
          <div class="col-md-2 portFolio">Projet</div>
          <div class="com-md-1"></div>
        </section>
      </div>
    </section>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    {# puis un formulaire de contact pour m envoyer uun mail #}

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h5 class="text-center">Me contacter</h5>

        <div class="row">
          <div class="col">
            <label for="ContactPrenom" class="form-label">Prenom</label>
            <input type="text" id="contactPrenom" class="form-control" placeholder="First name" aria-label="First name">
          </div>
          <div class="col">
            <label for="ContactNom" class="form-label">Nom</label>
            <input type="text" id="contactNom" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="ContactSociete" class="form-label">Société</label>
            <input type="text" id="contactSociete" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="contactEmail" class="form-label">E-mail</label>
            <input id="contactEmail" class="form-control" type="text" placeholder="E-mail" aria-label="default input example">
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Motif</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <input type="button" class="btn btn-secondary" value="Envoyer">
          </div>
          
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

    <hr class="featurette-divider">
  </div>
  <!-- /.container -->

{% endblock %}
